.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
}
.logo{
    font-size: 50px !important;

}
.log{
    display: flex;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom:1rem;
    color:black;
    
}
.searchfont{
    font-size:30px !important;
}
.Search{
    width: 100%;
    flex: 1;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.Search > input{
    font-size:0.9rem;
    width: 50%;
    padding: 10px;
    outline: none;
    border: none;
    background-color:transparent;
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease-in-out 0.2s;
}
.Search > input:focus{
    
    border-bottom: 2px solid black;
}
.log > h5{
    font-family: 'Tangerine', serif;;
    font-size: 30px;
    margin-bottom: -5px;
    padding-bottom: 5px;
}